

$purple: #4d4b68;
$light-purple: #64627a;
$navy: #104356;
$light-navy: #537689;
$red: #b80f2b;
$light-red: #b7374c;
$hyper-link-blue: #035d7e;
$footer-top-background: #ebebec;
$footer-top-inks: #4d4b68;
$footer-bottom-background: #e1e1e7;
$footer-bottom-links: #323144;


