/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 19, ../sass/vars/_vars.scss */
.cf:after, .nav:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, ../sass/vars/_basic_type.scss */
body {
  font-family: 'Raleway','Century Gothic','Apple Gothic',sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* line 8, ../sass/vars/_basic_type.scss */
p, ul, ol, dl, div, section, article, table, form {
  margin-bottom: 1.5000em;
}

/* line 12, ../sass/vars/_basic_type.scss */
div div, ul ul, dl dl, ol ol, table table {
  margin-bottom: 0;
}

/* line 16, ../sass/vars/_basic_type.scss */
a {
  color: #035d7e;
  text-decoration: none;
}
/* line 21, ../sass/vars/_basic_type.scss */
a:hover {
  text-decoration: underline;
}

/* line 27, ../sass/vars/_basic_type.scss */
strong, b {
  font-weight: 700;
}

/* line 31, ../sass/vars/_basic_type.scss */
small {
  font-size: 80%;
}

/* COLORS */
/* line 5, ../sass/vars/_headings.scss */
h1, .h1, h2, .h2, .h8 {
  color: #b7374c;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3333em;
  margin-top: 0.6667em;
  margin-bottom: 0;
}

/* line 14, ../sass/vars/_headings.scss */
h2, .h2 {
  color: #104356;
  font-size: 28px;
  line-height: 1.7143em;
  margin-top: 0.8571em;
}

/* line 23, ../sass/vars/_headings.scss */
h1#page-title {
  margin-top: 0;
}

/* line 28, ../sass/vars/_headings.scss */
.h7 {
  color: #444444;
  font-size: 11px;
  font-weight: 600;
  line-height: 2.1818em;
  text-transform: uppercase;
}

/* line 36, ../sass/vars/_headings.scss */
.h8 {
  font-size: 24px;
  line-height: 1em;
  margin-top: 1em;
}

/* line 1, ../sass/vars/_tables.scss */
table {
  width: 100%;
}

/* line 5, ../sass/vars/_tables.scss */
th, td {
  padding: 8px;
}

/* line 9, ../sass/vars/_tables.scss */
th {
  font-weight: 700;
  text-align: center;
}

/* line 2, ../sass/vars/_lists.scss */
ul, ol {
  padding-left: 40px;
}

/* line 6, ../sass/vars/_lists.scss */
ul li {
  list-style: none outside disc;
}

/* line 10, ../sass/vars/_lists.scss */
ol li {
  list-style: none outside decimal;
}

/* line 2, ../sass/vars/_forms.scss */
input[type="text"], input[type="password"], textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #f3f3f3;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFFEFEFE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #f3f3f3), color-stop(100%, #fefefe));
  background-image: -webkit-linear-gradient(top, #f3f3f3 1%, #fefefe 100%);
  background-image: -moz-linear-gradient(top, #f3f3f3 1%, #fefefe 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 1%, #fefefe 100%);
  background-image: linear-gradient(top, #f3f3f3 1%, #fefefe 100%);
  height: 35px;
  width: 100%;
}

/* line 14, ../sass/vars/_forms.scss */
textarea {
  height: auto;
}

/* line 18, ../sass/vars/_forms.scss */
input[id*="edit-search-block-form--"] {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 40px;
}

/* line 24, ../sass/vars/_forms.scss */
#search-block-form input[id*="edit-submit"] {
  background: url("/sites/all/themes/wireframe/css/imgs/search-button-icon-19x19.png") no-repeat scroll center center #b80f2b;
  border: medium none;
  border-radius: 0;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  float: left;
  margin: 0;
  outline: medium none;
  padding: 0;
  /* position: absolute; */
  top: 0;
  width: 40px;
}

/* line 40, ../sass/vars/_forms.scss */
.block-search-form {
  position: relative;
  height: 40px;
  margin-bottom: 1.5em;
  top: 10px;
}

/* line 47, ../sass/vars/_forms.scss */
#search-block-form .container-inline {
  display: table;
  position: absolute;
  right: 0;
}
/* line 52, ../sass/vars/_forms.scss */
#search-block-form .container-inline .form-item-search-block-form {
  display: table-cell;
  float: left;
  margin: 0;
}
/* line 58, ../sass/vars/_forms.scss */
#search-block-form .container-inline .form-actions {
  display: table-cell;
}

/* line 2, ../sass/vars/_images.scss */
img, img[width], img[height] {
  height: auto;
  max-width: 100%;
}

/* line 5, ../sass/vars/_utilities.scss */
.visible-mobile,
.visible-narrow,
.visible-normal,
.visible-wide {
  display: none !important;
}

@media (max-width: 739px) {
  /* line 10, ../sass/vars/_utilities.scss */
  .visible-mobile {
    display: block !important;
  }

  /* line 13, ../sass/vars/_utilities.scss */
  .hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 740px) and (max-width: 979px) {
  /* line 20, ../sass/vars/_utilities.scss */
  .visible-narrow {
    display: block !important;
  }

  /* line 24, ../sass/vars/_utilities.scss */
  .hidden-narrow {
    display: none !important;
  }
}
@media (min-width: 980px) and (max-width: 1219px) {
  /* line 32, ../sass/vars/_utilities.scss */
  .visible-normal {
    display: block !important;
  }

  /* line 36, ../sass/vars/_utilities.scss */
  .hidden-normal {
    display: none !important;
  }
}
@media (min-width: 1220px) {
  /* line 44, ../sass/vars/_utilities.scss */
  .visible-wide {
    display: block !important;
  }

  /* line 48, ../sass/vars/_utilities.scss */
  .hidden-wide {
    display: none !important;
  }
}
/* line 54, ../sass/vars/_utilities.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 58, ../sass/vars/_utilities.scss */
.no-bottom-margin {
  margin-bottom: 0;
}

/* line 62, ../sass/vars/_utilities.scss */
.margin-bottom {
  margin-bottom: 1.5em;
}

/* line 67, ../sass/vars/_utilities.scss */
.no-top-margin {
  margin-top: 0;
}

/* line 71, ../sass/vars/_utilities.scss */
.text-right {
  text-align: right;
}

/* line 75, ../sass/vars/_utilities.scss */
.table {
  display: table;
}

/* line 79, ../sass/vars/_utilities.scss */
.table-cell {
  display: table-cell;
}

/* line 84, ../sass/vars/_utilities.scss */
.clear-left {
  clear: left;
}

/* line 88, ../sass/vars/_utilities.scss */
.clear-right {
  clear: right;
}

/* line 92, ../sass/vars/_utilities.scss */
.clear-both {
  clear: both;
}

/* line 97, ../sass/vars/_utilities.scss */
.hidden, .caret {
  display: none !important;
}

/* line 101, ../sass/vars/_utilities.scss */
.pull-right {
  float: right;
}

/* line 105, ../sass/vars/_utilities.scss */
.pull-left {
  float: left;
}

/* line 109, ../sass/vars/_utilities.scss */
.like-fa, #tb_megamenu-main-menu .tb-megamenu-nav > .level-1 > a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 3, ../sass/objects/_blocks.scss */
.resna-block .block-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2000em;
  text-transform: uppercase;
  margin-bottom: 1.2000em;
}
/* line 11, ../sass/objects/_blocks.scss */
.resna-block.resna-block--default .block-title {
  color: #104356;
}
/* line 16, ../sass/objects/_blocks.scss */
.resna-block.resna-block--secondary .block-title {
  color: #b7374c;
}
/* line 20, ../sass/objects/_blocks.scss */
.resna-block.resna-block--third .block-title {
  color: #4d4b68;
}

/* line 1, ../sass/objects/_nav.scss */
.nav {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
/* line 10, ../sass/objects/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 32, ../sass/objects/_nav.scss */
.nav--stacked > li {
  display: list-item;
}
/* line 35, ../sass/objects/_nav.scss */
.nav--stacked > li > a {
  display: block;
}

/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 53, ../sass/objects/_nav.scss */
.nav--banner {
  text-align: center;
}

/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 69, ../sass/objects/_nav.scss */
.nav--block {
  line-height: 1;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
}
/* line 78, ../sass/objects/_nav.scss */
.nav--block > li {
  letter-spacing: normal;
  word-spacing: normal;
}
/* line 82, ../sass/objects/_nav.scss */
.nav--block > li > a {
  padding: 20px;
}

/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav  nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
/* line 102, ../sass/objects/_nav.scss */
.nav--fit {
  display: table;
  width: 100%;
}
/* line 106, ../sass/objects/_nav.scss */
.nav--fit > li {
  display: table-cell;
}
/* line 109, ../sass/objects/_nav.scss */
.nav--fit > li > a {
  display: block;
}

/* line 117, ../sass/objects/_nav.scss */
.utilites-social-holder {
  background-color: #4d4b68;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: table;
  float: right;
  height: 55px;
  padding: 0 0 0 10px;
}

/* line 129, ../sass/objects/_nav.scss */
.nav--social .nav--utility__item, .nav--utility .nav--utility__item {
  margin: 15px 20px 0 0;
}
/* line 133, ../sass/objects/_nav.scss */
.nav--social a, .nav--utility a {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 140, ../sass/objects/_nav.scss */
.nav--utility {
  vertical-align: middle;
}

/* line 145, ../sass/objects/_nav.scss */
.nav--social li {
  display: block;
  float: left;
}
/* line 150, ../sass/objects/_nav.scss */
.nav--social li a {
  border-left: 1px solid #64627a;
  color: rgba(255, 255, 255, 0);
  display: block;
  float: left;
  height: 55px;
  text-align: center;
  width: 40px;
}
/* line 161, ../sass/objects/_nav.scss */
.nav--social li a i, .nav--social li a i:before, .nav--social li a i:after {
  color: white;
}

/************************************* 
**********TB-mega-menu
 ************************************/
/* line 182, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 187, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1 {
  margin-right: 13px;
}
/* line 190, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1:hover {
  border-bottom: 5px solid #4d4b68;
}
/* line 196, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1.active {
  border-bottom: 5px solid #4d4b68;
}
/* line 200, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1.active > a {
  color: #4d4b68;
}
/* line 210, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1 > a {
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
/* line 215, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1 > a:before {
  content: "\f0d7";
  display: none;
  font-size: 3em;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  z-index: 2000;
}
/* line 229, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1 > a:hover {
  background: none;
  color: #4d4b68;
}
/* line 233, ../sass/objects/_nav.scss */
#tb_megamenu-main-menu .tb-megamenu-nav > .level-1 > a:hover:before {
  display: inline-block;
}

/* line 242, ../sass/objects/_nav.scss */
.tb-megamenu .mega > .mega-dropdown-menu {
  top: 110%;
}

/* line 246, ../sass/objects/_nav.scss */
.tb-megamenu .mega-align-justify > .dropdown-menu {
  top: 30px;
}

/* 
*  FOOTER NAV
* ************************************************************************* */
/* line 259, ../sass/objects/_nav.scss */
.menu--footer ul.menu {
  margin-bottom: 0;
}
/* line 263, ../sass/objects/_nav.scss */
.menu--footer li {
  line-height: 1em;
  margin-bottom: 20px;
}
/* line 269, ../sass/objects/_nav.scss */
.menu--footer a {
  color: #4d4b68;
  font-size: 14px;
}
/* line 274, ../sass/objects/_nav.scss */
.menu--footer .block-title {
  border-bottom: 1px solid #cccccc;
  color: #4d4b68;
  font-size: 14px;
  line-height: 1.7143em;
  margin-top: 0;
  margin-bottom: 13px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

/* line 6, ../sass/objects/_panels.scss */
.panel.panel--second .panel__heading {
  border-color: #b7374c;
  color: #b80f2b;
}
/* line 10, ../sass/objects/_panels.scss */
.panel.panel--second .panel__heading:after {
  border-color: #b7374c;
}
/* line 19, ../sass/objects/_panels.scss */
.panel.panel--third .panel__heading {
  border-color: #64627a;
  color: #4d4b68;
}
/* line 23, ../sass/objects/_panels.scss */
.panel.panel--third .panel__heading:after {
  border-color: #64627a;
}
/* line 30, ../sass/objects/_panels.scss */
.panel.panel--fourth {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px  25px;
}

/* line 40, ../sass/objects/_panels.scss */
.panel__heading {
  border-bottom: 1px solid #537689;
  color: #104356;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}

/* line 50, ../sass/objects/_panels.scss */
.panel__heading:after {
  border-bottom: 4px solid #537689;
  content: " ";
  display: block;
  width: 75%;
}

/* line 59, ../sass/objects/_panels.scss */
.panel-button {
  color: #FFFFFF;
  background: url("/sites/all/themes/wireframe/css/imgs/panel-button_background.png") right center no-repeat;
  border: 1px solid #487f8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 0;
  min-height: 101px;
  text-align: center;
}
/* line 69, ../sass/objects/_panels.scss */
.panel-button.panel-button--first {
  background-position: left center;
  background-color: #104356;
}
/* line 74, ../sass/objects/_panels.scss */
.panel-button.panel-button--second {
  background-color: #b80f2b;
}
/* line 78, ../sass/objects/_panels.scss */
.panel-button.panel-button--third {
  background-color: #4d4b68;
}

/* line 85, ../sass/objects/_panels.scss */
.panel-button__heading {
  font-size: 11px;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

/* line 94, ../sass/objects/_panels.scss */
.panel-button__text {
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 300;
  line-height: 1em;
  text-transform: capitalize;
}
/* line 101, ../sass/objects/_panels.scss */
.panel-button__text a {
  color: #FFFFFF;
}

/* line 1, ../sass/objects/_list_groups.scss */
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

/* line 5, ../sass/objects/_list_groups.scss */
.list-group__item, .list-group__heading {
  font-size: 15px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #cccccc;
}
/* line 14, ../sass/objects/_list_groups.scss */
.list-group__item a, .list-group__heading a {
  color: #444444;
}

/* line 19, ../sass/objects/_list_groups.scss */
.list-group__heading {
  color: #4d4b68;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 25, ../sass/objects/_list_groups.scss */
.list-group__heading a {
  color: #4d4b68;
}

/* line 31, ../sass/objects/_list_groups.scss */
.list-group__item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 35, ../sass/objects/_list_groups.scss */
.list-group__item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 2, ../sass/objects/_media_objects.scss */
.media,
.media__body {
  overflow: hidden;
  zoom: 1;
}

/* line 7, ../sass/objects/_media_objects.scss */
.media,
.media .media {
  margin-top: 15px;
}

/* line 10, ../sass/objects/_media_objects.scss */
.media:first-child {
  margin-top: 0;
}

/* line 13, ../sass/objects/_media_objects.scss */
.media__object {
  display: block;
}

/* line 16, ../sass/objects/_media_objects.scss */
.media__heading {
  margin: 0 0 5px;
}

/* line 19, ../sass/objects/_media_objects.scss */
.media > .pull-left {
  margin-right: 10px;
}

/* line 22, ../sass/objects/_media_objects.scss */
.media > .pull-right {
  margin-left: 10px;
}

/* line 25, ../sass/objects/_media_objects.scss */
.media__list {
  padding-left: 0;
  list-style: none;
}

/* line 31, ../sass/objects/_media_objects.scss */
.date-display {
  background-color: #b7374c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  line-height: 1em;
  margin-right: 20px;
  padding: 13px 15px;
  text-align: center;
  width: 80px;
}
/* line 44, ../sass/objects/_media_objects.scss */
.media > .date-display.pull-left {
  margin-right: 20px;
}

/* line 49, ../sass/objects/_media_objects.scss */
.date-display--second {
  color: #444444;
}
/* line 52, ../sass/objects/_media_objects.scss */
.date-display--second a {
  color: #444444;
}

/* line 58, ../sass/objects/_media_objects.scss */
.date-display--third {
  color: #444444;
  display: inline-block;
  position: relative;
}
/* line 63, ../sass/objects/_media_objects.scss */
.date-display--third:after {
  content: "|";
  display: inline-block;
  margin: 0 10px;
}

/* line 71, ../sass/objects/_media_objects.scss */
.ue__title {
  display: inline-block;
}

/* line 1, ../sass/objects/_box.scss */
.box {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

/* line 23, ../sass/global.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 30, ../sass/global.scss */
.section-footer {
  color: #4d4b68;
}

/* line 34, ../sass/global.scss */
.zone-menu-wrapper {
  margin-bottom: 40px;
}

/* line 38, ../sass/global.scss */
.zone-footer-wrapper {
  background-color: #ebebec;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  padding: 30px 0;
}

/* line 47, ../sass/global.scss */
#omega-media-query-dummy {
  position: absolute !important;
}

/* line 51, ../sass/global.scss */
.logo--header {
  margin-top: 35px;
}

/* line 55, ../sass/global.scss */
.button {
  width: 100%;
  display: block;
  background: #eee;
  padding: 17px 0;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #ccc;
  margin-bottom: 17px;
}

/* line 66, ../sass/global.scss */
.button h6 {
  font-size: 11px;
  margin: 0;
  text-transform: none;
  font-style: italic;
}

/* line 72, ../sass/global.scss */
.button h3, h5 {
  margin: 0;
  text-transform: uppercase;
}

/* line 76, ../sass/global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 80, ../sass/global.scss */
.sponsor {
  width: 100%;
  background: #eee;
  border: 1px solid #ccc;
}

/* line 85, ../sass/global.scss */
.sponsor p {
  text-align: center;
  padding: 60px 0;
  text-transform: uppercase;
  color: #666;
}

/* line 91, ../sass/global.scss */
.slider-caption {
  background: #333;
  position: relative;
  margin-top: -86px;
  color: #fff;
  padding: 10px 20px 15px;
  opacity: 0.8;
}

/* line 100, ../sass/global.scss */
#section-footer ul.menu li a {
  text-decoration: none;
}

/* line 101, ../sass/global.scss */
#section-footer ul.menu li {
  list-style: none;
}

/* line 105, ../sass/global.scss */
#section-footer ul.menu li a.sf-depth-1 {
  text-transform: uppercase;
}

/* line 106, ../sass/global.scss */
#section-footer ul.menu li.expanded {
  display: block;
  margin: 10px 0;
  padding-right: 0;
  position: relative;
  width: 95%;
}

/* line 113, ../sass/global.scss */
#section-footer ul.menu li.expanded ul {
  margin-left: 0;
  padding-left: 0;
}

/* line 117, ../sass/global.scss */
#section-footer ul.menu li.expanded ul li {
  margin-left: 0;
  padding-left: 0;
}

/* h2.block-title{
	margin-bottom:16px;
} */
/* line 125, ../sass/global.scss */
.block-menu-block h2.block-title {
  margin-bottom: 2px;
}

/* line 129, ../sass/global.scss */
.front h1 {
  font-size: 24px;
}

/* line 135, ../sass/global.scss */
ul li {
  /* list-style:none;
  margin: 4px 10px; */
}

/* line 143, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  /* margin-bottom: 5px; */
}

/* line 150, ../sass/global.scss */
.block-block, .block-superfish {
  /* margin:10px 0; */
}

/* line 154, ../sass/global.scss */
#block-block-15 a {
  line-height: 1.5rem;
}

/* line 157, ../sass/global.scss */
#block-block-15, #block-block-24, #block-block-28 {
  border: 1px solid #ccc;
  padding: 20px 20px;
}

/* line 161, ../sass/global.scss */
#block-block-15 input[type=text], #block-block-30 input[type=text] {
  width: 100%;
  height: 30px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}

/* line 167, ../sass/global.scss */
#block-block-15 input[type=submit], #block-block-30 input[type=submit] {
  padding: 7px 20px;
  float: right;
}

/* line 176, ../sass/global.scss */
#block-block-1 img {
  width: 100%;
  display: block;
  height: 400px;
}

/* line 185, ../sass/global.scss */
#block-block-11 p {
  text-align: right;
}

/* line 188, ../sass/global.scss */
#block-block-11, #block-menu-block-2, #block-block-12 {
  border-top: 1px solid #ccc;
  margin: 0;
}

/* line 194, ../sass/global.scss */
.foot-links {
  display: block;
  float: left;
  width: 145px;
  margin-bottom: 20px;
}

/* line 200, ../sass/global.scss */
.foot-links.professional-links, .foot-links.support-links {
  width: 190px;
}

/*News*/
/* line 205, ../sass/global.scss */
.homeNews .summary {
  margin-bottom: 1em;
}

/*Event*/
/* line 210, ../sass/global.scss */
#block-block-6 ul li {
  list-style: disc;
  margin-bottom: 16px;
  margin-left: 2em;
}
