/* 
    Document   : resna_2col
    Created on : 20 Mar, 2014, 5:01:05 PM
    Author     : sateesh
    Description:
        Purpose of the stylesheet follows.
        This shtyle sheet can be used to add custom css for the 2 col panel layout
        This CSS will be loaded only for pages which have this layout
*/