/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
 .block-superfish .sf-menu.sf-style-simple a, .sf-menu.sf-style-simple a:visited {
	font-size: 13px;
    padding: 1.4em 0.76em;
}
#section-footer ul.menu li.expanded {
	display: block;
    float: left;
    min-height: 190px;
    position: relative;
    width: 31%;
}
.container-12 article .grid-6{
	width:460px;
}
.container-12 article .grid-3 {
	width:220px;
}

.not-front #zone-content aside {
	width:220px;
}

.not-front #zone-content #region-content {
	width:700px;
	float: right;
}
.not-front #zone-content aside .block-menu-block {
		border-top:0;
		border-bottom:0;
}
#block-block-24 p {
display:block;
width: 100%;
}